<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13F34</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>nagomu.me.TextFormat</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.0</string>
	<key>CodaAuthorString</key>
	<string>Kaoru Wada</string>
	<key>CodaDescriptionString</key>
	<string>This plug-in to change the selected text in a variety of text formats.</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>5</string>
	<key>CodaPlugInSupportedAPIVersion</key>
	<integer>6</integer>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6A317</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11D50a</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0600</string>
	<key>DTXcodeBuild</key>
	<string>6A317</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>$^@e</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Escape CSS char</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>css.php</string>
			<key>uuid</key>
			<string>7CC69E1D-A8B0-4015-915D-3150824A5C68</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>$^@x</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Sort</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>sort.php</string>
			<key>uuid</key>
			<string>52A3C74D-D234-476D-98EC-3260F286B565</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>$^@l</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>to Lowercase</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>lower.php</string>
			<key>uuid</key>
			<string>DE8FDA1F-E76A-4447-BDF9-2814A1D6E327</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>$^@u</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>to Uppercase</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>upper.php</string>
			<key>uuid</key>
			<string>750B26E1-759B-4977-94E3-B4D42CB9331A</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>$^@t</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>to Title Case</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>title.php</string>
			<key>uuid</key>
			<string>045D2C16-7C7B-440B-988C-CD3FEB074700</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>$^@f</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>to camelCase</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>camel.php</string>
			<key>uuid</key>
			<string>E6E12B84-5FFE-44DE-AFA1-09F259D65351</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>$^@s</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>to snake_case</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>snake.php</string>
			<key>uuid</key>
			<string>D681757E-3639-471F-89EE-536DD7D36A0A</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>$^@c</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>to StudlyCaps</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>studly.php</string>
			<key>uuid</key>
			<string>E401E101-3690-47DB-936B-DD67C1A0B7B5</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>$^@z</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>to Zenkaku</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>zenkaku.php</string>
			<key>uuid</key>
			<string>4BDBAF42-8B52-43B1-9702-C2DFAFB39D89</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>$^@h</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>to Hankaku</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>hankaku.php</string>
			<key>uuid</key>
			<string>958BDE05-A487-4DD5-8066-E42D045DB458</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>$^@a</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>to Alpha Numeric</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>alpha.php</string>
			<key>uuid</key>
			<string>9EC513DB-2005-46D8-ABD6-F0D165812505</string>
		</dict>
	</array>
</dict>
</plist>
